#dashboard{
    display: flex;
    width: 100%;
    
}


#dashboard .dashboard-main{
    width: 85%;
}

#dashboard .dashboard-main .dash-content{
    padding: 0 5rem;
}


@media (min-width: 2560px){
    

}