{% extends "base.html" %}
{% load static %}


    
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    {% endblock style %}

    

    {% block content %}

    <nav>
        <h1>{{title}}</h1>
        <div class='btn'>
            {% if show_add_employee %}
                <a href="{% url "employees:emp_add" %}" class='add-btn' > <i class="fas fa-plus"></i> Add Employee</a>
            {% endif %}
           
            <a href="{% url 'core:logout' %}" class='logout-btn' >Logout</a>
        </div>

    </nav>
    

    {% endblock content %}