{% extends "base.html" %}
{% load static %}


    
    {% block style %}<link rel="stylesheet" href="{% static 'css/navbar.css' %}">{% endblock style %}

    

    {% block content %}

    <nav>
        <h1>{{title}}</h1>
        <div class='btn'>
            {% if show_add_employee %}
                <a href="{% url "employees:emp_add" %}">Add New employee</a>
            {% endif %}
           
            <a href="{% url 'core:logout' %}" class='logout-btn' >Logout</a>
        </div>

    </nav>
    

    {% endblock content %}