{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">{% endblock style %}

{% block content %}




<section id='dashboard'>

    {% include "sidebar.html" %}

    <div class="dashboard-main">
        {% include "navbar.html" with title="Dash Board" show_add_employee=False%}

        <div class="dash-content">
            <a href="{% url 'core:home' %}">Go to Home</a>
            <a href="{% url 'core:logout' %}">Logout</a>
        </div>



    </div>

</section>








{% endblock content %}