{% extends "base.html" %}
{% load static %}

{% block title %}login page{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'core/login.css' %}">{% endblock style %}

{% block content %}

{% comment %} <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form> {% endcomment %}

<section id="login">
    <div class="box" >
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>



{% endblock content %}