{% extends "base.html" %}
{% load static %}


    {% block title %}employees list{% endblock title %}
    {% block style %}<link rel="stylesheet" href="{% static 'employees/css/emp-list-page.css' %}">{% endblock style %}

    

    {% block content %}

    <section id='emp-list-page'>
        {% include "sidebar.html" %}


        
        <div class="emp-main">
                {% include "navbar.html" with title="Employee List" show_add_employee=True %}
            <div class="emp-content">
                <div class="emp-table">
                    <div class="heading">
                        <div class="number">
                            <h4>No.</h4>
                            
                        </div>
                        <div class="name">
                            <h4>Name</h4>
                            
                        </div>
                        <div class="designation">
                            <h4>Designation</h4>
                            
                        </div>
                        <div class='date-of-joining'>
                            <h4>Date of Joining</h4>
                            
                        </div>
                    </div>
                    <div class="emp-list-p">
                        {% for emp in emp_list %}
                            <a href="{% url "employees:emp_detail" emp.slug %}">
                                <div class="emp-list">
                                    <div class="number">
                                        <h4>{{ forloop.counter }} .</h4>
                                        
                                    </div>
                                    <div class="name">
                                        <h4>{{emp.name}}</h4>
                                        
                                    </div>
                                    <div class="designation">
                                        <h4>{{emp.designation}}</h4>
                                        
                                    </div>
                                    <div class='date-of-joining'>
                                        <h4>{{emp.date_of_joining}}</h4>
                                        
                                    </div>
                                    
                                </div>
        
                            </a>
                        {% endfor %}

                    </div>
                    

                </div>
            </div>

                {% comment %} <div>
                    {% for emp in emp_list %}
                        <div class='emp-detail-list'>
                            <div>
                                <a href="{% url "employees:emp_detail" emp.slug %}">{{ forloop.counter }}</a>
                            </div>
                            <div>
                                <a href="{% url "employees:emp_detail" emp.slug %}">{{emp.name}}</a>
                            </div>
                            <div>
                                <a href="{% url "employees:emp_detail" emp.slug %}">{{emp.designation}}</a>
                            </div>
                            <div>
                                <a href="{% url "employees:emp_detail" emp.slug %}">{{emp.date_of_joining}}</a>
                            </div>
                            <div>
                                <a href="{% url "employees:emp_detail" emp.slug %}"></a>
                            </div>
                        </div>
     
                    {% endfor %}
                    
        </div> {% endcomment %}


    </section> 

                

    

    {% endblock content %}
