{% extends "base.html" %}
{% load static %}


    {% block title %}employees list{% endblock title %}
    {% block style %}<link rel="stylesheet" href="{% static 'employees/css/emp-list-page.css' %}">{% endblock style %}

    

    {% block content %}

    <section id='emp-list-page'>
        {% include "sidebar.html" %}


        </div>
        <div class="emp-main">
                {% include "navbar.html" with title="Employee List" show_add_employee=True %}
            <div class="emp-content">
                {% for emp in emp_list %}
                <ul>
                    <li><a href="{% url "employees:emp_detail" emp.slug %}">{{emp.name}}</a></li>
                </ul>
            
            {% endfor %}
            
                
            </div>
        </div>


    </section> 

                

    

    {% endblock content %}
