nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: 0 5rem;
    /* background-color: bisque; */
}

nav h1{
    font-weight: 600;
}

nav .btn .logout-btn{
    margin-left: 2rem;
    padding: .7rem 1.3rem;
    border-radius: .2rem;
    color: white;
    background-color: #e63946;
    display: inline-block;
    transition: transform 0.1s ease, background-color 0.2s ease-in-out;
}

nav .btn .logout-btn:hover{
    background-color: #d62839;
}

nav .btn .logout-btn:active{
    transform: scale(0.95);
    background-color: #b71c24;
}
