@import url("../css/fonts.css");

.side-bar{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2rem 2rem 2rem 3rem;
}



.side-bar img{
    width: 70%;
    padding-bottom: 1.9rem;
}

.side-bar hr{
    border: none;
    height: .5px;
    background-color: rgb(78, 78, 78);
}

.side-bar .sidebar-btn{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}


.side-bar a{
    color: white;
    padding: 1rem 1rem;
    border-radius: .3rem;
    
    
}

.sidebar-btn a.active {
    background-color: rgb(28, 25, 36);
    
}